<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Json to Html!
  </h1>
  <table border=1>
    <tr>
      <th>Alias</th> 
      <th>ProductVariantCode</th> 
      <th>Status</th>
      <th>Count</th>
      <th>Image</th>
    </tr>
    <tr *ngFor="let d of data">
      <td>{{ d.alias }}</td>
      <td>{{ d.productvariantcode }}</td>
      <td>{{ d.status }}</td>
      <td>{{ d.count }}</td>
      <td><img src="{{d.image}}" style="width:60px;height:60px;"></td>
    </tr>
